# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`
#
# follows official upstream conventions:
# https://www.drupal.org/docs/develop/using-composer



# Ignore vendor dependencies and scripts
vendor


# Omitir Configuracion .ddev
.ddev

# Omitir configuracion del editor
.editorconfig
 
# Omitir configuracion .gitattributes
.gitattributes

