# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`
#
# follows official upstream conventions:
# https://www.drupal.org/docs/develop/using-composer

# Ignorar los archivos de configuración que puedan contener información sensible


# Ignorar rutas que puedan contener contenido generado por el usuario

# Ignore paths that may contain temporary files
/web/sites/*/translations
/web/sites/*/tmp
/web/sites/*/cache


# Ignore vendor dependencies and scripts
vendor
composer.phar
composer
robo.phar
robo
drush.phar
drush
drupal.phar
drupal

# Omitir Configuracion .ddev
.ddev

# Omitir configuracion del editor
.editorconfig
 
# Omitir configuracion .gitattributes
.gitattributes

